{% extends 'base.html' %} {% block content %}
<style>
  body {
    background-color: #151515 !important;
  }

  .container {
    padding-top: 2rem;
    background-color: #151515 !important;
    color: whitesmoke;
  }

</style>
<div class="container">
    <div class="row d-flex justify-content-center p-5">
        <form method="get" action="{% url 'search_results' %}" class="flex text-center justify-content-center p-5">
            {% csrf_token %}
            <label>Enter the github url below to read their tutorial</label>
            <br/>
            <label>URL you can use to test this out!</label>
            <label>https://github.com/tannerbyers/example-tutorial</label>
            <br/>
            <input name="githubUrl" type="text" placeholder="Enter tutorial github url here">
            <button>Search</button>
        </form>
    </div>
</div>

{% endblock content %}